flex-row(justify)
  display flex
  flex-direction row
  justify-content justify
  margin-bottom 16px

#nps-modal
  h1
    text-align center
    font-size 32px

  .modal-body
    padding-left 32px
    padding-right 32px

    &.revshare
      color white
      background linear-gradient(32.7deg, #0f87ff 0%, #00d4ff 100%)
      padding 24px

  .modal-header
    padding 16px
    color black
    left 550px
    z-index 1
    position absolute
    border none

  .centered-row
    flex-row(center)

  .left-row
    flex-row(flex-start)

  .right-row
    flex-row(flex-end)

  .score > .btn
    margin 4px
    line-height 2.5
    border-radius 50%
    width 2.5em
    height 2.5em
    padding 0

    &:hover
      transform scale(1.25)

  .score-label
    margin 8px
    font-size 80%
    position absolute

  textarea
    width 100%
    margin-bottom 16px
